<div class="widget-container">
    <div class="widget blue">
        <div class="icon">
            <fa-icon [icon]="faCoffee"></fa-icon>
        </div>
        <div class="value">
            <div class="top">10</div>
            <div class="bottom" >Location</div>
        </div>
    </div>

    <div class="widget blue">
        <div class="icon">
            <fa-icon [icon]="faBranch"></fa-icon>
        </div>
        <div class="value">
            <div class="top">20</div>
            <div class="bottom">Branches</div>
        </div>
    </div>

    <div class="widget blue">
        <div class="icon">
            <fa-icon [icon]="faDiagramProject"></fa-icon>
        </div>
        <div class="value">
            <div class="top">5000+</div>
            <div class="bottom">Projects</div>
        </div>
    </div>

    <div class="widget blue">
        <div class="icon">
            <fa-icon [icon]="faPeopleGroup"> </fa-icon>
        </div>
        <div class="value">
            <div class="top">500+</div>
            <div class="bottom">Clients</div>
        </div>
    </div>
</div>
